
/* Estilos para o componente Simulador */

.layout-atualiar-usuario{
    width: 100%;
    padding: 2em;
}

.titulo-form{
    font-size: 16;
}
.subtitulo-form{
    font-size: 14px;
}

  /* Estilos para os botões */
  .submit-button{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: rgb(16,115,97);
  }
  
  /* Estilos para o botão Simular quando estiver em estado de hover */
  .submit-button:hover {
    background-color: rgb(127, 146, 255) ;
  }
  