@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
h3, h5{
  color: #333;
}
.sessao-lado-esquerdo {
  flex: 0 0 20%; /* Definir o tamanho da div do lado esquerdo (20% da largura disponível) */
}

.sessao-lado-direito {
  flex: 0 0 80%; /* Definir o tamanho da div do lado direito (75% da largura disponível) */
}

/* Estilos para a div do lado direito */
.header-home {
  margin: 1.2em 1em;
}